<% include partials/header %>  
        <!--interactive map-->
        <div id="content-wrapper" class="container-fluid">
            <div id="location-content" >
                <div id="map"></div>
                <h1><%= name %></h1>
                <h4><strong>Hours:</strong> <%= hours %> </h4>
                <span>|</span>
                <% if (distance < 5) {%>
                    <span>On the Hill</span>
                <% } else { %>
                    <span>Approximate <strong><%= distance %>-minute</strong> walk from the Hill</span>
                <% } %>
                <p class="location-desc">
                    <%= description %>
                </p>
            </div>
            <div id="pics-wrapper">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <!--Carousel indicators-->
                    <ol class="carousel-indicators">
                    <% if (typeof images === "undefined") { %>
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <% } else { images.forEach(function(img) {%>
                        <li data-target="#carouselExampleIndicators" data-slide-to="<%= images.indexOf(img) %>" class="<% if(images.indexOf(img) == 0) { %>active<% } %>"></li>
                    <% })} %>
                    </ol>
                    <!--Actual carousel slides/images-->
                    <div class="carousel-inner">
                    <% if(typeof images === "undefined" || images.length == 0) { %>
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="http://brand.ucla.edu/wp-content/uploads/2013/08/ucla-logotype-main-11-600x286.jpg" alt="Couldn't find images for <%= name %>">
                        </div>
                    <% } else { images.forEach(function(img) { %> 
                        <div class="carousel-item <% if (images.indexOf(img) == 0) { %>active<% } %>">
                            <img class="d-block w-100" src="<%= img %>" alt="First slide">
                        </div>
                    <% })} %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
<% include partials/footer %>